<div class="col-lg-4 col-sm-6 mb-4">
    <div class="portfolio-item">
        <%= link_to mountain_path(mountain) do %>
            <%= image_tag mountain.image_url, class: 'img-fluid' %>
        <% end %>
        <div class="portfolio-caption">
            <%= link_to mountain_path(mountain) do %>
                <div class="portfolio-caption-heading"><%= mountain.name %> (<%= mountain.pref.name %>)</div>
            <% end %>
        </div>
    </div>
</div>