<!-- Searchbox-->
<section class="searchform-section" id="search">
  <div class="container px-4 px-lg-5">
  <h2>キーワードから探す</h2>
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-10 col-lg-10 mx-auto text-center">
        <div class="form-search">
          <div class="row">
            <%= render 'shared/search_form', q: @q, url: mountains_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Index-->
<section class="index-section" id="index">
  <div class="container px-4 px-lg-5">
    <div class="row">
      <% if @mountains.present? %>
        <%= render @mountains %>
      <% else %>
        <h2>検索条件と一致する結果が見つかりませんでした。<h2>
      <% end %>
    </div>
  <%= paginate @mountains %>
  </div>
</section>

<!-- Map-->
<section class="map-section" id="map">
  <div class="container px-4 px-lg-5">
    <!-- Featured Map Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <!-- googlemapを埋め込む場所　-->
      <input id="pac-input" class="form-control" type="text" placeholder="キーワード" />
      <div id='googlemap' style="height:420px" class='mb-3 mb-lg-0 rounded-4'></div>
    </div>
  </div>
</section>

<script>
  // 各mountainデータを格納する箱 obj
  let obj = {};
  // mountainデータを格納する箱 markerData
  let markerData = [];
  // markerDataにmountainデータをループ処理で格納
  <% @mountains_on_map.each do |mountain| %>
    obj = {
      id: <%= mountain.id %>,
      name: '<%= mountain.name %>',
      elevation: '<%= mountain.elevation %>',
      level: '<%= mountain.level %>',
      lat: <%= mountain.peak_location_lat %>,
      lng: <%= mountain.peak_location_lng %>
    };
  markerData.push(obj)
  <% end %>

  // 表示する地図の中心位置とズームレベルを定義
  let center_of_map = {
    lat: <%= @center_of_map_lat %>,
    lng: <%= @center_of_map_lng %>
  };
  let zoom_level_of_map = <%= @zoom_level_of_map %>;
</script>