<!-- 山の詳細-->
<section class="mtshow-section" id="mtshow">
  <div class="container px-4 px-lg-5">
    <!-- Featured mtshow Row-->
    <div class="row gx-0 align-items-center">
      <div class="col-xl-8 col-lg-7">
        <%= image_tag @mountain.image.url, class: 'img-fluid mb-3 mb-lg-0 rounded-4' %>
      </div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-lg-left">
          <h5 class="text-black-50 mb-0"><%= @mountain.name_en%></h5>
          <h2 class="mb-0"><%= @mountain.name %></h2>
          <hr class="mb-4 mx-auto" />
          <p class="text-black-50 mb-0">標　高：<%= @mountain.elevation %>m</p>
          <p class="text-black-50 mb-0">エリア：<%= @mountain.pref.name %></p>
          <% if @mountain.level.present? %>
            <p class="text-black-50 mb-0">難易度：<%= @mountain.level_i18n %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 天気と服装-->
<section class="weather-section text-center" id="weather">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="mb-4">山頂の天気予報</h2>
        <!-- 山頂の天気予報表示-->
        <div id="openweather" class="d-flex mb-5"></div>
      </div>
      <div class="col-lg-8">
        <h2 class="mb-4">登山口周辺の天気予報</h2>
        <!-- 市町村の天気予報表示-->
        <div class="d-flex mb-5" id="openweather_city"></div>
      </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center" id="outfit">
      <div class="col-lg-8">
        <h2 class="mb-4 mt-5">もし、明日登山するなら</h2>
        <div id="best_outfit"></div>
        <p id="best_outfit_link"></p>
      </div>
    </div>
  </div>
</section>

<!-- 地図-->
<section class="map-section" id="map">
  <div class="container px-4 px-lg-5">
    <!-- Featured Map Row-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <!-- googlemapを埋め込む場所　-->
      <input id="pac-input" class="form-control" type="text" placeholder="キーワード" />
      <div id='googlemap' style="height:420px" class='mb-3 mb-lg-0 rounded-4'></div>
    </div>

    <!-- 周辺施設検索-->
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-10 col-lg-10 mx-auto">
      <h3 class="text-center">周辺施設を探す</h3>
        <div class="nearby-search">
          <div class="row">
            <div class="col-6 d-inline-block mb-2">
              <input name="キーワード" type="text" id="keywordInput" class="form-control" placeholder="施設キーワード（駐車場、銭湯など）">
            </div>
            <div class="col-3 d-inline-block">
              <select name="検索範囲" id="radiusInput" class="form-control">
                <option value="500" selected>500 m 以内</option>
                <option value="1000">1 km 以内</option>
                <option value="3000">3 km 以内</option>
                <option value="5000">5 km 以内</option>
              <select>
            </div>
            <div class="col-auto d-inline-block">
              <input type="button" value="検索" class="col-auto btn btn-primary" id="nearby-search">
            </div>
          </div>
          <div class="mt-4" id="results"></div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ギャラリー-->
<section class="gallery-section text-center">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <h2 class="mb-2">ギャラリー</h2>
      <p class="mb-4">GoogleMapから写真を表示しています</p>
      <% if @google_img_urls.present? %>
        <% @google_img_urls.each do |url| %>
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body text-center">
                <%= image_tag url, class: 'img-fluid' %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="mb-4">写真が見つかりませんでした</p>
      <% end %>
    </div>
  </div>
</section>


<!-- Youtube-->
<section class="youtube-section text-center">
  <div class="container px-4 px-lg-5">
    <h2 class="mb-2">Youtube</h2>
    <p class="mb-4">Youtubeから動画を表示しています</p>
    <div class="row gx-5 align-items-center" id="player">
    </div>
  </div>
</section>


<!-- Tweet-->
<% if @tweet_img_urls.present? %>
  <section class="gallery-section text-center">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5">
        <h2 class="mb-2"><%= "##{@mountain.name}" %> on twitter</h2>
        <p class="mb-4">過去１週間に <%= "##{@mountain.name}" %> で投稿されたツイートから写真を表示しています</p>
        <% @tweet_img_urls.each do |url| %>
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body text-center">
                <%= image_tag url, class: 'img-fluid' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>

<!-- 投稿-->
<section class="post-section bg-light">
  <div class="container px-4 px-lg-5">
    <div class="row">
      <!-- col (列) の指定 -->
      <div class="col-sm-9">
        <h2 class="mb-4">登山した人たちの感想</h2>
      </div>
      <% if logged_in? %>
        <div class="col-sm-3 text-end text-black-50">
          <%= link_to new_post_path(mountain_id: @mountain) do%>
            <i class="far fa-edit"></i> 投稿する
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- 投稿があれば表示 -->
    <% if @posts.present? %>
      <%= render 'posts/post', posts: @posts %>
    <% else %>
      <h5>...まだ投稿がありません。</h5>
      <%= link_to new_post_path(mountain_id: @mountain), class: "btn btn-warning text-white rounded-4", 'data-turbolinks': false do %>
        感想を投稿する？
      <% end %>
    <% end %>
  </div>
</section>