<section class="registration-section" id="registration">
  <div class="container px-4 px-lg-5">
      <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                  <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                  <div class="col-lg-7">
                      <div class="p-5">
                          <div class="text-center">
                              <h1 class="h4 text-gray-900 mb-4">新規登録</h1>
                          </div>
                          <%= form_with model: @user, local: true do |f| %>
                            <div class="form-group">
                                <%= f.text_field :name, class: "form-control", placeholder: 'お名前' %>
                            </div>
                            <div class="form-group">
                              <%= f.text_field :email, class: "form-control form-control-user", placeholder: 'メールアドレス' %>
                            </div>
                            <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                <%= f.password_field :password, class: "form-control", placeholder: 'パスワード' %>
                              </div>
                              <div class="col-sm-6">
                                <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'パスワード（確認用）' %>
                              </div>
                            </div>
                            <%= f.submit '新規作成', class: "btn btn-primary btn-user btn-block" %>
                          <% end %>
                            <hr>
                            <%= link_to "#", class: "btn btn-google btn-user btn-block" do %>
                              <i class="fab fa-google fa-fw"></i> Googleアカウントで登録
                            <% end %>
                            <%= link_to "#", class: "btn btn-facebook btn-user btn-block" do %>
                              <i class="fab fa-facebook-f fa-fw"></i> Facebookアカウントで登録
                            <% end %> 
                          <hr>
                          <div class="text-center">
                            <%= link_to "#", class: "small" do %>
                              パスワードをお忘れですか？
                            <% end %>
                          </div>
                          <div class="text-center">
                            <%= link_to "#", class: "small" do %>
                              アカウントをお持ちの方はこちらからログイン
                            <% end %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>