<body id="page-top">
  <!-- Masthead-->
  <header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <h2 class="text-white mx-auto mt-2">登りたい山がみつかるサービス</h2>
          <h1 class="text-white mx-auto mb-5">「Find Mts」</h1>
          <%= link_to root_path(anchor: 'search'), class: "btn btn-danger", 'data-turbolinks': false do %>
            さっそく山を探す
          <% end %>
        </div>
      </div>
    </div>
  </header>

  <!-- SearchBox-->
  <section class="searchform-section" id="search">
    <div class="container px-4 px-lg-5">
      <h2>キーワードから探す</h2>
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-10 col-lg-10 mx-auto text-center">
          <div class="form-search">
            <div class="row">
              <%= render 'shared/search_form', q: @q, url: mountains_path %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Area-->
  <section class="area-section" id="area">
      <div class="container px-4 px-lg-5">
        <h2>エリアから探す</h2>
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% @area.each do |area| %>
              <div class="col mb-4">
                  <div class="card-footer border-top-0 bg-transparent">
                      <div class="text-center">
                        <%= link_to mountains_path(area: area), class: 'btn btn-outline-primary w-100', 'data-turbolinks': false do %>
                          <h4 class="mb-0"><%= area %></h4>
                        <% end %>
                      </div>
                  </div>
              </div>
            <% end %>
          </div>
      </div>
  </section>
        
  <!-- Maps-->
  <section class="map-section" id="map">
    <div class="container px-4 px-lg-5">
      <h2>地図から探す</h2>
      <div class="row gx-0 mb-4 mb-lg-5 px-5 align-items-center">
        <!-- googlemapを埋め込む場所　-->
        <input id="pac-input" class="form-control" type="text" placeholder="キーワード" />
        <div id='googlemap' style="height:420px" class='mb-3 mb-lg-0 rounded-4'></div>
      </div>
    </div>
  </section>

  <!-- Index-->
  <section class="index-section" id="popular-mountain">
    <div class="container px-4 px-lg-5">
      <h2 class="mb-2">話題の山 on twitter</h2>
      <p class="mb-4">過去１週間、最も多くツイートされた山を表示しています</p>
      <div class="row">
        <% if @recommended_mountains.present? %>
          <%= render @recommended_mountains %>
        <% end %>
      </div>
    </div>
  </section>
  
  </body>