<% if @posts.present? %>
  <section class="post-section bg-light">
    <div class="container px-4 px-lg-5">

      <div class="row">
        <!-- col (列) の指定 -->
        <div class="col-sm-9">
          <h2 class="mb-4">みんなの登山記録</h2>
        </div>
        <% if current_user == @user %>
          <div class="col-sm-3 text-end text-black-50">
            <%= link_to new_post_path do%>
              <i class="far fa-edit"></i> 投稿する
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="row gx-4 gx-lg-5">
        <% @posts.each do |post| %>
          <div class="col-md-4 mb-3">
            <div class="card px-3 py-4 h-100">
              <!-- 自分の投稿には削除ボタンを表示-->
              <% if current_user.own?(post) %>
                <%= link_to post_path(post), method: :delete, data: { confirm: "削除しますか？"} do %>
                  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">x</div>
                <% end %>
              <% end %>
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="m-0"><%= link_to "#{post.user.name}", user_path(post.user.id) %></h4>
                <hr class="my-2 mx-auto" />
                <h4 class="m-0"><%= post.title %></h4>
                <div class="small text-black-50"><%= post.body %></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
<% end %>