<div class="row gx-4 gx-lg-5">
  <% @posts.each do |post| %>
    <div class="col-md-4 mb-3">
      <div class="card px-3 py-4 h-100">
        <!-- 自分の投稿には編集・削除ボタンを表示-->
        <% if current_user.own?(post) %>
          <div class="badge text-black-50 position-absolute" style="bottom: 0.5rem; right: 0.5rem">
            <%= link_to edit_post_path(post) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to post_path(post), method: :delete, data: { confirm: "削除しますか？"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
        <!-- いいねボタン表示-->
        <div class="badge text-black-50 position-absolute" style="top: 0.5rem; right: 0.5rem">
          <% if current_user.liked?(post) %>
            <%= link_to post_like_path(post), method: :delete do %>
              <i class="fas fa-thumbs-up"></i>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(post), method: :post do %>
              <i class="far fa-thumbs-up"></i>
            <% end %>
          <% end %>
          <%= post.likes.count %>
        </div>
        <!-- 登山日が何日前か-->
        <div class="badge bg-white text-black-50 position-absolute" style="top: 0.5rem; left: 0.5rem">
          <i class="fas fa-hiking"></i> <%= time_ago_in_words(post.climbed_on) %>前
        </div>
        <!-- 投稿内容-->
        <div class="card-body text-center">
          <h4 class="mb-1"><i class="fas fa-user"></i> <%= link_to "#{post.user.name}", user_path(post.user_id) %></h4>
          <h4 class="m-0"><%= post.review_i18n %></h4>
          <hr class="mx-auto" />
          <h4 class="m-0"><%= post.title %></h4>
          <div class="small text-black-50"><%= post.body %></div>
        </div>
      </div>
    </div>
  <% end %>
</div>