<section class='post-crud-section' id='post'>
  <div class='container px-4 px-lg-5'>
    <div class='card o-hidden border-0 shadow-lg my-5'>
      <div class='card-body p-0'>
        <div class='row'>
          <div class='p-5'>
            <div class='text-center'>
              <h1 class='h4 text-gray-900 mb-4'>登山した感想</h1>
            </div>
            <%= form_with model: @post, url: post_path(@post), local: true do |f| %>
              <%= render partial: 'shared/error_messages', locals: { model: @post } %>
              <div class='form-group'>
                <%= f.label :title, {class: 'form-label'} %>
                <%= f.text_field :title, class: 'form-control form-control-user', placeholder: Post.human_attribute_name(:title) %>
              </div>
              <div class='form-group'>
                <%= f.label :body, {class: 'form-label'} %>
                <%= f.text_area :body, class: 'form-control form-control-user', placeholder: Post.human_attribute_name(:body) %>
              </div>
              <div class='form-group'>
                <%= f.label :mountain_id, {class: 'form-label'} %>
                <%= f.collection_select(:mountain_id, Mountain.all, :id, :name, { prompt: "選択してください" }, { class: 'form-control form-control-user' } ) %>
              </div>
              <div class='form-group'>
                <%= f.label :climbed_on, {class: 'form-label'} %>
                <%= f.date_field :climbed_on, class: 'form-control form-control-user' %>
              </div>
              <div class="form-group row">
                <%= f.label :course_time, {class: 'form-label'} %>
                <div class="col-sm-12 btn-group" data-toggle="buttons">
                  <%= f.radio_button :course_time, :few_hours, class: "btn-check", id: "few_hours" %>
                  <label class="btn btn-outline-secondary" for="few_hours" style="width:25%">2~3時間</label>
                  <%= f.radio_button :course_time, :over_five_hours, class: "btn-check", id: "over_five_hours" %>
                  <label class="btn btn-outline-secondary" for="over_five_hours" style="width:25%">5時間以上</label>
                  <%= f.radio_button :course_time, :over_eight_hours, class: "btn-check", id: "over_eight_hours" %>
                  <label class="btn btn-outline-secondary" for="over_eight_hours" style="width:25%">8時間以上</label>
                  <%= f.radio_button :course_time, :all_day_long, class: "btn-check", id: "all_day_long" %>
                  <label class="btn btn-outline-secondary" for="all_day_long" style="width:25%">丸一日</label>
                </div>
              </div>
              <hr>
              <div class="form-group row">
                <%= f.label :review, {class: 'form-label'} %>
                <div class="col-sm-12 btn-group" data-toggle="buttons">
                  <%= f.radio_button :review, :bad, class: "btn-check", id: "bad" %>
                  <label class="btn btn-outline-secondary" for="bad" style="width:25%">悪い</label>
                  <%= f.radio_button :review, :okay, class: "btn-check", id: "okay" %>
                  <label class="btn btn-outline-secondary" for="okay" style="width:25%">普通</label>
                  <%= f.radio_button :review, :good, class: "btn-check", id: "good" %>
                  <label class="btn btn-outline-secondary" for="good" style="width:25%">良い</label>
                  <%= f.radio_button :review, :very_good, class: "btn-check", id: "very_good" %>
                  <label class="btn btn-outline-secondary" for="very_good" style="width:25%">とても良い</label>
                </div>
              </div>
              <div class="form-group row">
                <%= f.label :level, {class: 'form-label'} %>
                <div class="col-sm-12 btn-group" data-toggle="buttons">
                  <%= f.radio_button :level, :easy, class: "btn-check", id: "easy" %>
                  <label class="btn btn-outline-secondary" for="easy" style="width:33%">初級</label>
                  <%= f.radio_button :level, :normal, class: "btn-check", id: "normal" %>
                  <label class="btn btn-outline-secondary" for="normal" style="width:33%">中級</label>
                  <%= f.radio_button :level, :hard, class: "btn-check", id: "hard" %>
                  <label class="btn btn-outline-secondary" for="hard" style="width:33%">上級</label>
                </div>
              </div>
              <div class="form-group row">
                <%= f.label :physical_strength, {class: 'form-label'} %>
                <div class="col-sm-12 btn-group mb-4" data-toggle="buttons">
                  <%= f.radio_button :physical_strength, :no_sweat, class: "btn-check", id: "no_sweat" %>
                  <label class="btn btn-outline-secondary" for="no_sweat" style="width:33%">ラク</label>
                  <%= f.radio_button :physical_strength, :fine, class: "btn-check", id: "fine" %>
                  <label class="btn btn-outline-secondary" for="fine" style="width:33%">ちょうどいい</label>
                  <%= f.radio_button :physical_strength, :exhausted, class: "btn-check", id: "exhausted" %>
                  <label class="btn btn-outline-secondary" for="exhausted" style="width:33%">しんどい</label>
                </div>
              </div>     
              <%= f.submit '投稿する', class: 'btn btn-primary btn-user btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>