<section class='login-section' id='login'>
  <div class='container px-4 px-lg-5'>
      <div class='card o-hidden border-0 shadow-lg my-5'>
          <div class='card-body p-0'>
              <div class='row'>
                  <div class='col-lg-5 d-none d-lg-block bg-register-image'></div>
                  <div class='col-lg-7'>
                      <div class='p-5'>
                          <div class='text-center'>
                              <h1 class='h4 text-gray-900 mb-4'>ログイン</h1>
                          </div>
                          <%= form_with url: login_path, local: true do |f| %>
                            <div class='form-group'>
                              <%= f.text_field :email, class: 'form-control form-control-user', placeholder: 'メールアドレス' %>
                            </div>
                            <div class='form-group'>
                              <%= f.password_field :password, class: 'form-control form-control-user', placeholder: 'パスワード' %>
                            </div>
                            <%= f.submit 'ログイン', class: 'btn btn-primary btn-user btn-block' %>
                          <% end %>
                            <hr>
                            <%= link_to '#', class: 'btn btn-google btn-user btn-block' do %>
                              <i class='fab fa-google fa-fw'></i> Googleアカウントでログイン
                            <% end %>
                            <%= link_to '#', class: 'btn btn-facebook btn-user btn-block' do %>
                              <i class='fab fa-facebook-f fa-fw'></i> Facebookアカウントでログイン
                            <% end %> 
                          <hr>
                          <div class='text-center'>
                            <%= link_to 'パスワードをお忘れですか？', new_password_reset_path, class: 'small', 'data-turbolinks': false %>
                          </div>
                          <div class='text-center'>
                            <%= link_to '新規登録はこちらから', new_user_path, class: 'small', 'data-turbolinks': false %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>